<footer>
    <span class="uk-text-small uk-text-center">© 2019 |
        <a data-uk-tooltip href="https://www.illaweb.fr" title="Visit illaweb.fr">Created by illaweb</a>
        | Built with
        <a data-uk-tooltip href="http://getuikit.com" target="_blank" title="Visit UIkit 3 site">
            <span data-uk-icon="uikit"></span>
        </a>
    </span>
    <a class="uk-position-right arrow_up uk-button uk-button-link " href="" uk-scroll uk-tooltip="title: Haut de page" uk-totop></a>

</footer>
