<div id="delete-confirm" uk-modal>
    <div class="uk-modal-dialog uk-modal-body">
        <p class="uk-text-center">
            Voulez vous vraiment supprimer cette leçon ?
        </p>
        <div class="uk-text-center">
            <form method="post" action="{{ path('member_delete', {'slug': member.slug}) }}">

                <input name="_method" type="hidden" value="DELETE">
                <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ member.slug) }}">
                <button class="uk-button uk-button-danger uk-border-rounded">Supprimer</button>
            </form>
            <button class="uk-margin uk-border-rounded uk-button uk-button-default uk-modal-close" type="button">Annuler</button>
        </div>
    </div>
</div>
