{% extends 'base.html.twig' %}

{% block title %}New Member
{% endblock %}

{% block body %}
    <section class="uk-section">
        <div class="uk-container">
            <h1>Inscription</h1>
            {{ include('member/_form.html.twig') }}
            <a class="uk-button uk-button-link" href="{{ path('home') }}">retour à l'accueil</a>
        </div>
    </section>

{% endblock %}
