{% extends 'admin_base.html.twig' %}

{% block title %}New Dance
{% endblock %}
{% block content %}

    <section
        class="uk-section">
        <!-- breadCrumb -->
        <div class="uk-container uk-margin">
            <ul class="uk-breadcrumb">
                <li>
                    <a href="{{path('home')}}">Home</a>
                </li>

                <li>
                    <a href="{{path('dance_index')}}">Danses</a>
                </li>
                <li>
                    <p>Danse _ Ajouter</p>
                </li>
            </ul>
        </div>
        <!-- end of breadcrumb -->

        <div class="uk-container uk-margin-top">
            <h1 class="uk-heading-line uk-text-center">
                Création d'une dance</h1>
        </div>
        <div class="uk-container uk-margin-top uk-container-small">
            {{ include('dance/_form.html.twig') }}
            <div class="uk-grid uk-grid-small uk-grid-divider uk-margin-top uk-margin-bottom" uk-grid>
                <div>
                    <a class="uk-button uk-button-text" href="{{ path('dance_index') }}">
                        <span uk-icon="icon: arrow-left"></span>
                        retour à la liste</a>
                </div>
                <div>
                    <a href="#delete-confirm" uk-toggle>
                        <span uk-icon="icon: trash"></span>
                    </a>
                </div>
            </div>
        </div>
    </section>

{% endblock %}
