{% extends 'base.html.twig' %}

{% block title %}New prospect
{% endblock %}

{% block body %}
    <section
        class="uk-section">
        <!-- breadCrumb -->
        <div class="uk-container uk-margin">
            <ul class="uk-breadcrumb">
                <li>
                    <a href="{{path('home')}}">Home</a>
                </li>

                <li>
                    <p>Contact</p>
                </li>

            </ul>
        </div>
        <!-- end of breadcrumb -->

        <div class="uk-container uk-margin-top">
            <h1 class="uk-heading-line uk-text-center">
                Formulaire de contact</h1>
        </div>
        <div class="uk-container uk-margin-top uk-container-small">

            {{ include('prospect/_form.html.twig') }}
        </div>
    </section>
{% endblock %}
